In [1]:
import pandas as pd
import numpy as np

In [2]:
qlf = {}

counterYear = 2012
endYear = 2021

while counterYear <= endYear:
  qlf[counterYear] = pd.read_csv(f'raw/{counterYear}.csv')
  counterYear += 1

In [3]:
counterYear = 2012
endYear = 2021

while counterYear <= endYear:
  qlf[counterYear]['Year'] = counterYear
  
  counterYear += 1

In [4]:
frames = []

for key in qlf.keys():
  frames.append(qlf[key])
  
mergedData = pd.concat(frames)

In [5]:
mergedData.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 689 entries, 0 to 82
Data columns (total 11 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Country                         689 non-null    object
 1   Quality of Life Index           689 non-null    float64
 2   Purchasing Power Index          689 non-null    float64
 3   Safety Index                    689 non-null    float64
 4   Health Care Index               689 non-null    float64
 5   Cost of Living Index            689 non-null    float64
 6   Property Price to Income Ratio  689 non-null    float64
 7   Traffic Commute Time Index      689 non-null    float64
 8   Pollution Index                 689 non-null    float64
 9   Climate Index                   689 non-null    object
 10  Year                            689 non-null    int64
dtypes: float64(8), int64(1), object(2)
memory usage: 64.6+ KB

In [6]:
# mergedData.loc[mergedData['Climate Index'] == '-', 'Climate Index'] = -1
mergedData.loc[mergedData['Climate Index'] == '-', 'Climate Index'] = np.nan

In [9]:
mergedData['Climate Index'] = mergedData['Climate Index'].astype('float64')

In [62]:
# a meglévő adatok mellett szükségem lesz még az ISO codeokra, s azt hiszem az ország koordinátákra, de ezt még megkell nézzem a korábbi térképes projektjeimnél, a koordináták csak a térkép esetében fontosak

In [10]:
codes = pd.read_json('raw/codes.json', orient='index')
codes = codes.reset_index()
codes = codes.rename(columns={'index': 'Code', 0: 'Country'})

In [11]:
mergedData.loc[mergedData['Country'] == 'Russia', 'Country'] = 'Russian Federation'
mergedData.loc[mergedData['Country'] == 'United States', 'Country'] = 'United States of America'
mergedData.loc[mergedData['Country'] == 'United Kingdom', 'Country'] = 'United Kingdom of Great Britain'
mergedData.loc[mergedData['Country'] == 'Czech Republic', 'Country'] = 'Czechia'
mergedData.loc[mergedData['Country'] == 'Bosnia And Herzegovina', 'Country'] = 'Bosnia and Herzegovina'
mergedData.loc[mergedData['Country'] == 'South Korea', 'Country'] = 'Korea, Republic of'
mergedData.loc[mergedData['Country'] == 'Vietnam', 'Country'] = 'Viet Nam'
mergedData.loc[mergedData['Country'] == 'Iran', 'Country'] = 'Iran (Islamic Republic of)'
mergedData.loc[mergedData['Country'] == 'Moldova', 'Country'] = 'Moldova, Republic of'
mergedData.loc[mergedData['Country'] == 'Venezuela', 'Country'] = 'Venezuela (Bolivarian Republic of)'
mergedData.loc[mergedData['Country'] == 'Bolivia', 'Country'] = 'Bolivia (Plurinational State of)'

In [12]:
mergedData = mergedData.merge(codes, how='left', left_on='Country', right_on='Country')

In [13]:
mergedData.info()
mergedData

<class 'pandas.core.frame.DataFrame'>
Int64Index: 689 entries, 0 to 688
Data columns (total 12 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Country                         689 non-null    object
 1   Quality of Life Index           689 non-null    float64
 2   Purchasing Power Index          689 non-null    float64
 3   Safety Index                    689 non-null    float64
 4   Health Care Index               689 non-null    float64
 5   Cost of Living Index            689 non-null    float64
 6   Property Price to Income Ratio  689 non-null    float64
 7   Traffic Commute Time Index      689 non-null    float64
 8   Pollution Index                 689 non-null    float64
 9   Climate Index                   417 non-null    float64
 10  Year                            689 non-null    int64
 11  Code                            689 non-null    object
dtypes: float64(9), int64(1), object(2)
memory usage: 70.0+ KB

,Country,Quality of Life Index,Purchasing Power Index,Safety Index,Health Care Index,Cost of Living Index,Property Price to Income Ratio,Traffic Commute Time Index,Pollution Index,Climate Index,Year,Code
0,Switzerland,194.11,127.42,74.22,79.51,148.69,6.53,30.88,35.49,NaN,2012,CHE
1,Germany,184.42,114.22,78.80,71.96,92.83,4.80,33.12,45.14,NaN,2012,DEU
2,Norway,183.43,94.21,80.93,79.04,166.65,7.10,18.50,19.22,NaN,2012,NOR
3,United Arab Emirates,177.07,134.89,64.05,63.89,80.79,4.49,17.00,69.17,NaN,2012,ARE
4,New Zealand,174.28,88.59,53.19,86.81,107.37,5.71,25.25,17.08,NaN,2012,NZL
...,...,...,...,...,...,...,...,...,...,...,...,...
684,Philippines,78.39,19.71,57.84,67.09,40.65,30.14,44.04,74.06,61.03,2021,PHL
685,Kenya,75.77,27.67,38.60,55.83,36.30,27.27,57.39,75.88,99.79,2021,KEN
686,Bangladesh,65.27,24.07,35.78,42.70,33.31,14.43,58.53,84.91,72.91,2021,BGD
687,Iran (Islamic Republic of),64.73,19.00,50.81,52.25,41.34,34.24,47.43,76.13,70.99,2021,IRN
688,Nigeria,52.00,9.78,36.14,48.89,29.74,17.74,61.68,87.35,60.75,2021,NGA

In [14]:
mergedData.loc[mergedData['Code'].isnull(), 'Country']

Series([], Name: Country, dtype: object)

In [79]:
mergedData.to_csv('raw/mergedButRaw.csv', index = False)

In [18]:
gdp = pd.read_csv('raw/gdp.csv')
gdp.drop(labels=list(map(lambda x : str(x), range(1960, 2011))), axis=1, inplace=True)
gdp.drop(labels=['Country Name'], axis=1, inplace=True)

In [20]:
gdp = gdp.melt(id_vars=['Country Code'], value_vars=list(map(lambda x : str(x), range(2011, 2021))), var_name='Year', value_name='GDP').sort_values(['Country Code', 'Year'])

In [18]:
gdp = gdp.round({'GDP': 2})
gdp['Year'] = gdp['Year'].astype('float64')

In [19]:
gdp = gdp.merge(mergedData, how='right', left_on=['Country Code', 'Year'], right_on=['Code', 'Year'])

In [20]:
gdp.drop(labels=['Country Code'], axis=1, inplace=True)

In [21]:
normalizedData = gdp

In [151]:
normalizedData.to_csv('normalized/normalized.csv', index=False)
normalizedData.to_json('normalized/normalized.json', orient='records')

In [16]:
hunISO = pd.read_csv('raw/hungarianISO.csv')

In [17]:
hunISO.drop(labels=['Helyi ISO kódok', 'Alpha-2', 'Numerikus'], axis=1, inplace=True)

In [18]:
hunISO.rename(columns={'Ország / Régió': 'Country'}, inplace=True)

In [19]:
hunISO.rename(columns={'Alpha-3': 'Code'}, inplace=True)

In [27]:
merged = normalizedData.merge(hunISO, how='left', left_on='Code', right_on='Code')

In [28]:
merged.rename(columns={'Country_x': 'Country_EN', 'Country_y': 'Country_HU'}, inplace=True)

In [34]:
merged.to_csv('normalized/normalized.csv', index=False)
merged.to_json('normalized/normalized.json', orient='records')

In [21]:
gni = pd.read_csv('raw/gni.csv')
gni.drop(labels=list(map(lambda x : str(x), range(1960, 2011))), axis=1, inplace=True)

In [22]:
gni.drop(labels=['Indicator Name', 'Indicator Code'], axis=1, inplace=True)

In [23]:
gni = gni.melt(id_vars=['Country Code'], value_vars=list(map(lambda x : str(x), range(2011, 2021))), var_name='Year', value_name='GNI').sort_values(['Country Code', 'Year'])

In [25]:
gni = gni.round({'GDP': 2})
gni['Year'] = gni['Year'].astype('int64')

In [26]:
normalizedData = gni.merge(mergedData, how='right', left_on=['Country Code', 'Year'], right_on=['Code', 'Year'])
normalizedData.drop(labels=['Country Code'], axis=1, inplace=True)

In [33]:
merged

# A GNI/fő utólag lett becserélve a GDP/fő helyett, ezért rendezetlenebb

,Year,GNI,Country_EN,Quality of Life Index,Purchasing Power Index,Safety Index,Health Care Index,Cost of Living Index,Property Price to Income Ratio,Traffic Commute Time Index,Pollution Index,Climate Index,Code,Country_HU
0,2012,61140.0,Switzerland,194.11,127.42,74.22,79.51,148.69,6.53,30.88,35.49,NaN,CHE,Svájc
1,2012,44400.0,Germany,184.42,114.22,78.80,71.96,92.83,4.80,33.12,45.14,NaN,DEU,Németország
2,2012,65910.0,Norway,183.43,94.21,80.93,79.04,166.65,7.10,18.50,19.22,NaN,NOR,Norvégia
3,2012,69160.0,United Arab Emirates,177.07,134.89,64.05,63.89,80.79,4.49,17.00,69.17,NaN,ARE,Egyesült Arab Emírségek
4,2012,31620.0,New Zealand,174.28,88.59,53.19,86.81,107.37,5.71,25.25,17.08,NaN,NZL,Új-Zéland
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
684,2021,NaN,Philippines,78.39,19.71,57.84,67.09,40.65,30.14,44.04,74.06,61.03,PHL,Fülöp-szigetek
685,2021,NaN,Kenya,75.77,27.67,38.60,55.83,36.30,27.27,57.39,75.88,99.79,KEN,Kenya
686,2021,NaN,Bangladesh,65.27,24.07,35.78,42.70,33.31,14.43,58.53,84.91,72.91,BGD,Banglades
687,2021,NaN,Iran (Islamic Republic of),64.73,19.00,50.81,52.25,41.34,34.24,47.43,76.13,70.99,IRN,Irán
688,2021,NaN,Nigeria,52.00,9.78,36.14,48.89,29.74,17.74,61.68,87.35,60.75,NGA,Nigéria